<p id="notice"><%= notice %></p>

<div id="other-map"></div>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @destination.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @destination.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @destination.address %>
</p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>

<%= javascript_tag do  %>
  latitude = '<%= j @destination.latitude.to_s %>';
  longtitude = '<%= j @destination.longitude.to_s  %>
  address = '<%= j @destination.address %>
  description = '<%= j @destination.description  %>
  <% end %>